body {
    text-align: justify;
}

.navigation-section {
    font-size: 1.5rem;
    margin-top: 2%;
}

.short-intro {
    margin-top: 8%;
}

.short-intro-pic {
    height: auto;
    width: auto;
}

.short-decription {
    font-size: 1.3rem;
}

.name {
    color: #0d6efd;
    border-bottom: 3px solid #0d6efd;
}

.social-links {
    font-size: 2rem;
}

.style {
    border-top: 3px double #0d6efd;
}

.skill-tag img {
    height: 80px;
    width: 80px;
    margin-top: 20px;
}

.tools-tag img {
    height: 80px;
    width: 80px;
    margin-top: 20px;
}

.bg-text {
    font-size: 4.5rem;
    font-weight: 800;
}

.selfi img {
    height: auto;
    width: 400px;
    object-fit: cover;
}

.about-text {
    /* text-transform: capitalize; */
    font-size: 1.2rem;
    text-align: left;
}

.contact-links a {
    font-size: 3rem;
    margin-top: 20px;
}

.card:hover {
    cursor: pointer;
    color: #0d6efd;
}

.custom-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-container:hover .custom-overlay {
    opacity: 1;
}

.overlay-container:hover img {
    opacity: 0.5;
}

.text {
    background-color: #0d6efd;
    ;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.nav-item .nav-link:hover {
    border-bottom: 3px solid #0d6efd;
    color: #0d6efd;
}

.brand {
    font-size: 2rem;
}

.brand:hover {
    border-bottom: 3px solid #0d6efd;
}


/* 
media queries */


/* For Tablet View */

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

@media only screen and (min-width: 820px) and (max-width: 1180px) {}


/* For Mobile Portrait View */

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .gfg-div {
        width: 200px;
        height: 200px;
        background-color: red;
        color: #fff;
    }
}


/* For iPhone 4 Portrait or Landscape View */

@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .intro-pic img {
        width: 100%;
    }
    .selfi img {
        width: 100%;
    }
    .bg-text {
        font-size: 3rem;
    }
}


/* For iPhone 5 Portrait or Landscape View */

@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: cornflowerblue;
        color: black;
    }
}


/* For iPhone 6 and 6 plus Portrait or Landscape View */

@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: darkgoldenrod;
        color: black;
    }
}